<%= form_for @event, html: { 'novalidate' => true }, url: @event.id ? event_path(@event.id) : event_index_path do |f| %>
  <%= f.hidden_field :id, :"data-silent" => "" %>
  <%= f.hidden_field :lat, :required => true, :"data-silent" => "" %>
  <%= f.hidden_field :long, :required => true, :"data-silent" => "" %>
  <%= f.hidden_field :user_id, :required => true, :"data-silent" => "", :value => session[:user_id] %>
  <div class="row">
    <div class="columns small-3"><%= f.label :title %></div>
    <div class="columns small-9"><%= f.text_field :title, :required => true, :"data-required-message" => "Please enter a name of your party", :placeholder => "e.g.: Joe's Great BBQ" %></div>
  </div>
  <div class="row">
  	<div class="columns small-3"><%= f.label :community %></div>
  	<div class="columns small-9"><%= f.text_field :community, :placeholder => "Mission" %></div>
  </div>
  <div class="row">
  	<div class="columns small-3"><%= f.label :address %></div>
  	<div class="columns small-9"><%= f.text_field :address, :required => true, :"data-required-message" => "Please enter an address", :placeholder => "e.g.: 123 4th St SW, T1U2V3" %></div>
  </div>
  <div class="row">
    <div class="columns small-3"><%= f.label :event_type %></div>
    <div class="columns small-9"><%= f.select :event_type, party_type_options, {}, {:required => true, :"data-required-message" => "Please select a party type"} %></div>
  </div>

  <div class="row">
  	<div class="columns small-3"><%= f.label :date %></div>
  	<div class="columns small-9"><%= f.text_field :date, :required => true, :"data-match" => "date", :"data-required-message" => "Please enter party date", :value => @event.date ? @event.date : "2014-06-21", :"data-date-format" => "yyyy-mm-dd" %></div>
  </div>
  <div class="row">
  	<div class="columns small-3"><%= f.label :start_time %></div>
  	<div class="columns small-9"><%= f.select :start_time, time_options, {}, {:required => true, :"data-match" => "time", :"data-required-message" => "Please enter a start time"} %></div>
  </div>
  <div class="row">
  	<div class="columns small-3"><%= f.label :end_time %></div>
    <div class="columns small-9"><%= f.select :end_time, time_options, {}, {:required => true, :"data-match" => "time", :"data-required-message" => "Please enter an end time"} %></div>
  </div>
  <div class="row">
    <div class="columns small-12 medium-9 medium-offset-3"><%= f.check_box :all_age, {}, "1", "0" %> <%= f.label :all_age, "This is an all-age party." %></div>
  </div>
  <div class="row">
    <div class="columns small-12 medium-9 medium-offset-3"><%= f.check_box :alcohol, {}, "1", "0" %> <%= f.label :alcohol, "This party may have alcohol present." %></div>
  </div>  
  <div class="row">
    <div class="columns small-12 medium-9 medium-offset-3">
    <p>
    By clicking "Save Party", you agree to our <%= link_to "Terms", terms_path %>.
    </p>
    </div>
  </div>
  <div class="row">
  	<div class="columns small-12 medium-9 medium-offset-3"><%= f.submit "Save Party", :class => "button secondary" %></div>
  </div>
<% end %>
