<div class="columns small-12">
<h1>Event Details</h1>
<h2><%= @event.title %></h2>
<p>
<%= @event.community %>
</p>
<p>
Organized by: <%= @event.organizer %>
</p>
<p>
Date: <%= @event.date %>
</p>
<p>
Start Time: <%= @event.start_time %>
</p>
<p>
End Time: <%= @event.end_time %>
</p>
</div>