<% title "Event details" %>
<div class="has-flags"></div>
<div class="row">
	<div class="columns medium-6 medium-push-6">
		<h1 class="show-for-small-only"><%= yield(:title) %></h1>
		<div id="map"></div>
	</div>
	<div class="columns medium-6 medium-pull-6">
		<h1 class="show-for-medium-up"><%= yield(:title) %></h1>
	<% if @event %>
		<h2><%= @event.title %></h2>
		<h3><%= @event.community %></h3>
		<% if (@event.all_age + @event.alcohol) > 0 %>
			<p>
			<% if @event.all_age == 1 %>
			<i class="fa fa-child"></i> This is an all-age event.<br/>
			<% end %>
			<% if @event.alcohol == 1 %>
			<i class="fa fa-glass"></i> This event may have alcohol present.
			<% end %>
			</p>
		<% end %>
		<p>
		<strong>Hosted By:</strong> <%= link_to "@#{@event.user.name}", "https://twitter.com/#{@event.user.name}", target: "_blank" %>
		</p>
		<p>
		<strong>Tweet:</strong> <%= @event.tweet %>
		</p>
		<p>
		<strong>Address:</strong> <%= @event.address %>
		</p>
		<p>
		<strong>Date:</strong> <%= @event.date %> (<%= day_of_week(@event.date, false) %>)
		</p>
		<p>
		<strong>Start Time:</strong> <%= @event.start_time %>
		</p>
		<p>
		<strong>End Time:</strong> <%= @event.end_time %>
		</p>
		<% if @event.description %>
			<p>
			<strong>Details:</strong>
			</p>
			<p>
			<%= sanitize @event.description.gsub("\n", "<br/>"), tags: %w(table tr td strong b bold p br) %>
			</p>
		<% end %>
		<p class="share">
		<a href="https://twitter.com/intent/tweet?text=<%= URI.escape("Here's the #{event_counter(false)} hosted by @#{@event.user.name} you can't miss. http://YYCYouThere.com/event/#{@event.id}#{hash_tag}") %>" data-trackable data-event="click" data-category="share" data-label="twitter-event-tweet"><i class="fa fa-twitter-square"></i></a>
		</p>
		<% if current_user %>
			<% if @event.user.id == current_user.id %>
				<%= link_to raw("<i class=\"fa fa-pencil\"></i> Edit"), edit_event_path(@event), {:class => "button tiny"} %>
				<a href="#" class="button tiny delete alert"><i class="fa fa-trash-o"></i> Delete</a>
				<div class="confirm hidden">
				Are you sure?<br/>
				<%= link_to raw("<i class=\"fa fa-check\"></i> Yes"), @event, :method => :delete, :class => "button tiny" %>
				<a href="#" class="button tiny no"><i class="fa fa-times"></i> No</a>
				</div>
			<% end %>
		<% end %>
	<% else %>
		<h2>Oops, this event cannot be located</h2>
		<p>
			Perhaps it hasn't been submitted, why don't you <%= link_to "do that now?", controller: "event", action: "new" %>
		</p>
	<% end %>
	</div>
</div>

<script type="text/javascript">
	var eventData = <%= raw(@event_json) %>
</script>

<%= render "infowindow" %>