<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? "Party Pin - " + yield(:title) : "Party Pin" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body id="<%= content_for?(:page_id) ? yield(:page_id) : "" %>">
    <div id="wrapper">
      <div class="contain-to-grid sticky">
        <nav class="top-bar" data-topbar>
          <ul class="title-area">
            <li class="name">
              <h1><a href="/">Party Pin</a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
          </ul>
          <section class="top-bar-section">
            <ul class="right">
              <% if (!session[:user_id]) %>
                <li class="has-dropdown">
                  <a href="#">Sign In</a>
                  <ul class="dropdown">
                    <li><%= link_to "Twitter", signin_path(:twitter) %>
                  </ul>
                </li>
              <% else %>
                <li>
                  <a href="http://twitter.com/<%= current_user.name %>" target="_blank"><%= current_user.name %></a>
                </li>
                <li>
                  <%= link_to "Sign Out", controller: "sessions", action: "destroy" %>
                </li>
              <% end %>
            </ul>
          </section>
        </nav>
      </div>
      <div class="container-to-grid" id="content-wrapper">
        <% if (notice or alert) %>
          <div class="row">
            <div class="columns small-12">
              <p class="notice"><%= notice %></p>
              <p class="alert"><%= alert %></p>
            </div>
          </div>
        <% end %>
        <%= yield %>
      </div>
      <footer class="container-to-grid">
        <div class="row">
          <div class="columns small-6">
          <a href="https://twitter.com/intent/tweet?button_hashtag=NeighbourDayYYC" class="twitter-hashtag-button" data-related="PartyPinYYC">Tweet #NeighbourDayYYC</a>
          <a href="https://twitter.com/partypinyyc" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @PartyPinYYC</a>
        </div>
      </footer>
    </div>
    <%= javascript_include_tag "application" %>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </body>
</html>