<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? "YYCYouThere - " + yield(:title) : "YYCYouThere" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag    "//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body id="<%= content_for?(:page_id) ? yield(:page_id) : "" %>">
    <div id="wrapper">
      <div class="contain-to-grid sticky">
        <nav class="top-bar" data-topbar>
          <ul class="title-area">
            <li class="name">
              <h1><a href="/" id="logo" class="show-for-medium-up"><%= inline_svg("logo.svg") %></a><a href="/" id="logo" class="show-for-small-only"><%= inline_svg("logo_mobile.svg") %></a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
          </ul>
          <section class="top-bar-section">
            <ul class="right">
              <% if (!session[:user_id]) %>
                <li class="has-dropdown">
                  <a href="#">Sign In</a>
                  <ul class="dropdown">
                    <li><%= link_to "Twitter", signin_path(:twitter) %>
                  </ul>
                </li>
              <% else %>
                <li>
                  <%= link_to "Submit a Party", controller: "event", action: "new" %>
                </li>
                <li class="has-dropdown">
                  <a href="http://twitter.com/<%= current_user.name %>" target="_blank"><%= current_user.name %></a>
                  <ul class="dropdown">
                    <li><%= link_to "My Parties", controller: "event", action: "mine" %></li>
                    <li><%= link_to "Sign Out", controller: "sessions", action: "destroy" %></li>
                  </ul>
                </li>
              <% end %>
            </ul>
          </section>
        </nav>
      </div>
      <div class="container-to-grid" id="content-wrapper">
        <div class="row" id="message-container">
          <div class="columns small-12">
            <% if notice %>
              <div data-alert class="alert-box success radius"><%= notice %><a href="#" class="close"><i class="fa fa-times"></i></a></div>
            <% end %>
            <% if alert %>
              <div data-alert class="alert-box alert radius"><%= alert %><a href="#" class="close"><i class="fa fa-times"></i></a></div>
            <% end %>
          </div>
        </div>
        <%= yield %>
      </div>
      <footer class="container-to-grid">
        <div class="row twitter-container">
          <div class="columns small-12 medium-6 medium-text-center">
            <div class="twitter"><%= inline_svg("twitter_blue.svg") %></div><div class="tweet-bubble red"><a href="https://twitter.com/intent/tweet?text=%23NeighbourDayYYC">Tweet #NeighbourDayYYC</a></div>
          </div>
          <div class="columns small-12 medium-6 medium-text-center">
            <div class="twitter"><%= inline_svg("twitter_yellow.svg") %></div><div class="tweet-bubble blue"><a href="https://twitter.com/intent/follow?screen_name=partypinyyc">Follow @YYCYouThere</a></div>
          </div>
        </div>
        <div class="row">
          <div class="columns small-12 text-center">
            &copy;<%= current_year %> YYCYouThere
          </div>
        </div>
      </footer>
    </div>
    <%= javascript_include_tag "application" %>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </body>
</html>